<!DOCTYPE html>
<html>
  <head>
    <title>OmnicalcParams</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <a href="/">
      Omnicalc Actions
    </a>

    <div >
      <a href="/word-count/new.html">

        Word Count
      </a>

      <a href="/loan-payment/new.html">

        Loan Payment
      </a>

      <a href="/time-between/new.html">

        Time Between
      </a>

      <a href="/stats/new.html">

        Descriptive Statistics
      </a>

      <a href="/street-to-coords/new.html">

        Street to Coordinates
      </a>

      <a href="/coords-to-weather/new.html">
        
        Coordinates to Weather
      </a>

      <a href="/street-to-weather/new.html">
        
        Street to Weather
      </a>
    </div>
    <%= yield %>
  </body>
</html>
